/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/* ==========================================================================
   Main
   ========================================================================== */

.content {
	width: 970px;
	margin: 0 auto;
}
.content.small {
	width: 804px;
}
header {
	background: black url('../img/beyonce-singing.jpg') no-repeat right top;
	background-size: cover;
	min-height: 760px;
	padding-top: 60px;
}
footer {
	background: black url('../img/footer-bg.jpg') no-repeat right top;
	background-size: cover;
	min-height: 650px;
	padding-top: 60px;
	clear: both;
}
article {
	margin: 60px 0;
}
article.one {
	width: 804px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
article.two {
	width: 472px;
	float: left;
	text-align: center;
}
article.two + article.two, article.three + article.three {
	margin-left: 26px;
}
article.three {
	width: 306px;
	float: left;
}
article.full {
	width: 970px;
	text-align: left;
	clear: both;
}
article.full + article.full {
	margin-top: 0;
}
article.keith {
	background: #3c3c3c;
	padding-top: 30px;
}
article.keith .content {
	background: #3c3c3c url('../img/keith-photo.jpg') no-repeat left bottom;
}
article.keith .last {
	padding-bottom: 60px;
}
article.book {
	background-color: #f15a52;
	clear: both;
	float: left;
	width: 100%;
	padding: 60px 0;
}
article.lyndall, article.left-image, article.robert, article.taura {
	float: left;
}
.video-container {
    background-color: black;
    clear: both;
}
.parallax {
	clear: both;
	height: 587px;
	background: transparent;
}
.image-container {
	clear: both;
	width: 100%;
	margin-bottom: 25px;
	float: left;
}
figure {
	margin: 0;
}
img.left, figure.left {
	float: left;
}
img.right {
	float: right;
}
article.andretta img {
	margin-bottom: 60px;
}
article.book img {
	border: 3px solid #fcd8d6;
}

/* ==========================================================================
   Typography
   ========================================================================== */

html {
	font: 15px/1.6em "Open Sans", Arial, Helvetica, Geneva, sans-serif;
}
h1, h2, h3, h4, h5, h6, .author {
	font-family: Oswald, Arial, Helvetica, Geneva, sans-serif;
	clear: both;
}
h1 {
	font-size: 5.5rem;
	line-height: 4rem;
	text-transform: uppercase;
	letter-spacing: -1px;
	width: 555px;
	margin: 15px 0 0 0;
}
h2 {
	font-size: 2.2rem;
}
article.two h2 {
	text-align: center;
}
article.left-image h2, 
article.book h3, 
article.brian h2,
article.lyndall h2,
article.taura h2 {
	clear: right;
	float: right;
}
article.andretta h2  {
	width: 638px;
	clear: left;
}
article.dawn h2, article.robert h2 {
	float: left;
	clear: left;
}
article.left-image h2, article.book h3 {
	width: 638px;
}
article.brian h2, 
article.dawn h2, 
article.taura h2, 
article.robert h2 {
	width: 555px;
}
article.taura h2, 
article.robert h2 {
	text-align: left;
}
article.lyndall h2 {
	width: 472px;
}
h3 {
	font: 1.53rem/2.13rem "Open Sans", Arial, Helvetica, Geneva, sans-serif;
	font-weight: 300;
}
p {
	text-align: left;
}
header, article.keith {
	color: white;
	text-shadow: 0px 2px 2px rgba(150, 150, 150, 1);
}
article.book, footer {
	color: white;
}
header p, 
article.brian p, 
article.dawn p, 
article.taura p, 
article.robert p {
	width: 555px;
}
article.brian p, 
article.lyndall p, 
article.left-image p, 
article.book p,
article.taura p {
	float: right;
	clear: right;
}
.keith p, .keith h2 {
	width: 472px;
	margin-left: 498px;
}
article.robert p {
	float: left;
	clear: left;
}
article.andretta p {
	width: 638px;
	clear: left;
}
article.left-image p, article.book p {
	width: 638px;
}
article.lyndall p {
	width: 472px;
}
blockquote {
	font-size: 2rem;
	line-height: 2.6rem;
	width: 804px;
	margin: 0 auto;
	font-weight: 300;
	clear: both;
}
footer, footer p, footer h3 {
	text-align: center;
}
.author {
	font-size: 1.2rem;
	font-weight: 300;
}
.subtitle {
	font-size: 2rem;
	font-weight: 300;
	letter-spacing: 0;
	text-transform: none;
	display: block;
	clear: both;
	text-align: right;
}
figcaption, .caption p {
	font-size: .8rem;
	text-align: center;
}
a:link {
	text-decoration: none;
	font-weight: bold;
}
header a:link, footer a:link {
	color: white;
	text-decoration: underline;
}
a.btn, footer a.btn {
	border: 3px solid #fcd8d6;
	background-color: #990000;
	width: 166px;
	text-align: center;
	padding: 11px 0;
	display: inline-block;
	color: white;
	font-size: 14px;
	text-decoration: none;
}
a.btn + a.btn {
	margin-left: 26px;
}
a.btn:hover {
	background-color: #660000;
}
a:hover, a:focus, a:active {
	
}








/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}